.login-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "menu"
    "header"
    "news"
    "main"
    "footer";
}
nav {
  grid-area: menu;
  background-color: var(--dark-orange);
}
header {
  grid-area: header;
  background-color: var(--light-orange);
}
aside {
  grid-area: news;
  background-color: white;
}
main {
  grid-area: main;
  background-color: var(--light-orange);
}
footer {
  grid-area: footer;
  background-color: var(--dark-orange);
}

@media screen and (min-width: 577px) {
  .login-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "header"
      "menu"
      "news"
      "main"
      "footer";
  }
}

@media screen and (min-width: 769px) {
  .login-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "header header header"
      "menu menu menu"
      "news main main"
      "footer footer footer";
  }
}
