.headerLogoIMG {
  width: 400px;
}

.login-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "menu"
    "header"
    "aside"
    "main"
    "footer";
}
header {
  grid-area: header;
  min-height: 100px;
  background-color: black;
}
nav {
  grid-area: menu;
  background-color: var(--dark-orange);
}
main {
  grid-area: main;
  background-color: var(--light-orange);
  min-height: 400px;
  padding: 10px;
}
aside {
  grid-area: aside;
  background-color: white;
  min-height: 400px;
}
footer {
  grid-area: footer;
  background-color: var(--dark-orange);
  min-height: 30px;
}

@media screen and (min-width: 577px) {
  .login-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "header"
      "menu"
      "aside"
      "main"
      "footer";
  }
  nav {
    grid-area: menu;
    background-color: var(--dark-orange);
    height: 60px;
  }
}

@media screen and (min-width: 769px) {
  .login-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "header header header"
      "menu menu menu"
      "aside main main"
      "footer footer footer";
  }
}
