<div
  class="login-page-wrapper pageWrapper lovelyShadow animate__animated"
  (mouseover)="addAnims()"
  [class.animate__rubberBand]="animate"
>
  <header>
    <img src="assets/wsp_logo.jpg" class="headerLogoIMG" />
  </header>
  <nav><app-login-page-form></app-login-page-form></nav>
  <main>
    <ng-image-slider
      [imageSize]="{ space: 4 }"
      [images]="boardGames"
      [infinite]="true"
      [autoSlide]="{ interval: 2, stopOnHover: true }"
    ></ng-image-slider>
    <ng-image-slider
      [imageSize]="{ space: 4 }"
      [images]="wines"
      [infinite]="true"
      [autoSlide]="{ interval: 2, stopOnHover: true }"
    ></ng-image-slider>
    <ng-image-slider
      [imageSize]="{ space: 4 }"
      [images]="books"
      [infinite]="true"
      [autoSlide]="{ interval: 2, stopOnHover: true }"
    ></ng-image-slider>
  </main>
  <aside>NEWS</aside>
  <footer>FOOTER</footer>
</div>
