<div
  class="dashboard-page-wrapper pageWrapper"
  [style.cursor]="busy ? 'wait' : 'initial'"
>
  <div
    class="dashboard-page-sideNav"
    [style.width]="sideNavExpanded ? '30%' : '10%'"
  ></div>
  <div class="dashboard-page-content">
    <div class="dashboard-page-content-header" (click)="onHeaderClick()"></div>
    <div class="dashboard-page-content-main">
      <button (click)="getUsers()">get users</button>
    </div>
    <div class="dashboard-page-content-footer"></div>
  </div>
</div>
