.dashboard-page-wrapper {
  display: flex;
  justify-content: flex-start;
  min-height: 90vh;
}
.dashboard-page-sideNav {
  background-color: var(--lilac1);
  margin: 5px;
  transition: width 1s;
}
.dashboard-page-content {
  margin: 5px;
  height: 100%;
  width: stretch;
}
.dashboard-page-content-header {
  height: 100px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--lilac1);
}
.dashboard-page-content-header > * {
  display: block;
}

.dashboard-page-content-header mat-icon {
  transform: scale(2);
  margin: 0 20px;
  cursor: pointer;
  color: var(--lilac2);
}

.dashboard-page-content-main {
  /* min-height: calc(100vh - 150px); */
  background: var(--light-background);
  min-height: 110vh;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.dashboard-page-content-footer {
  height: 50px;
  border: 1px solid grey;
  background-color: var(--lilac1);
}
.dashboard-page-content-header mat-icon {
  transition: 0.5s color;
}
.dashboard-page-content-header mat-icon:hover {
  color: yellow;
  transition: 0.5s color;
}

mat-icon,
mat-icon-button,
mat-menu-trigger,
button {
  outline: none !important;
  border: none !important;
  background: transparent;
}
