.dashboard-page-wrapper {
  display: flex;
  justify-content: flex-start;
  min-height: 90vh;
}
.dashboard-page-sideNav {
  border: 1px solid red;
  padding: 20px;
  margin: 5px;
  transition: width 1s;
}
.dashboard-page-content {
  border: 1px solid green;
  margin: 5px;
  height: 100%;
  width: stretch;
}
.dashboard-page-content-header {
  height: 100px;
  border: 1px solid grey;
}
.dashboard-page-content-main {
  padding: 10px 0;
  min-height: 70%;
  border: 1px solid grey;
}
.dashboard-page-content-footer {
  height: 50px;
  border: 1px solid grey;
}
