mat-icon {
  transition: 1s;
  transform: scale(1.25);
}

.navCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.L1 {
  width: 100%;
  height: 90px;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: 0.5s;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.L2 {
  cursor: pointer;
  transition: 0.5s;
  padding: 5px;
  width: 100%;
  border: 1px solid orange;
}

.subCardLink {
  width: 100%;
}
