mat-icon {
  transition: 0.5s color;
  transform: scale(1.5);
  cursor: pointer;
}
mat-icon:hover {
  transition: 0.5s color;
  color: yellow;
}
.cart-item-wrapper {
  background-color: white;
  width: 380px;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.cart-item-wrapper > * {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-item-img img {
  width: 80px;
}
.cart-item-nameANDprice,
.cart-item-piecesANDtotal {
  text-align: center;
}
p {
  margin-top: 10px;
}
h4,
p {
  display: block;
}
