<div class="cart-item-wrapper lovelyShadow">
  <div class="cart-item-img">
    <img [src]="constructImagePath(cartProduct.mainIMGurl)" />
  </div>
  <div class="cart-item-nameANDprice">
    <h4>{{ cartProduct.name }}</h4>
    <p>{{ cartProduct.unitPrice | currency }}</p>
  </div>
  <div class="cart-item-minus">
    <mat-icon>arrow_circle_down</mat-icon>
  </div>
  <div class="cart-item-piecesANDtotal">
    <h4>{{ cartProduct.amount }} pcs</h4>
    <p>{{ cartProduct.totalPrice | currency }}</p>
  </div>
  <div class="cart-item-plus">
    <mat-icon>arrow_circle_up</mat-icon>
  </div>
</div>
