<div class="filter-bar-wrapper">
  <form [formGroup]="theForm">
    <div formGroupName="form">
      <label for="minPrice">Min. Price</label>
      <input type="number" id="minPrice" formControlName="minPrice" />
      <label for="maxPrice">Max. Price</label>
      <input type="number" id="maxPrice" formControlName="maxPrice" />
      <label for="category">Category</label>
      <select id="category" formControlName="category">
        <option *ngFor="let category of productCategories">
          {{ category.name }}
        </option>
      </select>
    </div>
  </form>
</div>
