.filter-bar-wrapper {
  padding: 10px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-bar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter-bar-form > * {
  display: block;
}
input,
select {
  width: 150px;
}

@media screen and (min-width: 700px) {
  .filter-bar-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 75px;
  }
  select {
    width: 150px;
  }
}
