<div class="cart-page-wrapper">
  <!-- cart items starts -->
  <div class="cart-page-main">
    <app-cart-item
      *ngFor="let cartProduct of cartProducts"
      [cartProduct]="cartProduct"
      (amountChanged)="onAmountChange($event)"
    ></app-cart-item>
  </div>
  <!-- cart items ends -->
  <!-- shipping option card starts -->
  <div class="cart-page-options">
    <div
      class="shipping-option-card"
      *ngFor="let shippingOption of shippingOptions"
      [style.backgroundColor]="shippingOption.selected ? 'lightGreen' : 'white'"
    >
      <img
        [src]="shippingOption.assetIMGpath"
        (click)="onShippingOptionSelect(shippingOption.id)"
      />
      <div class="shipping-option-card-details">
        <p><mark class="bold">Courier: </mark>{{ shippingOption.name }}</p>
        <p>
          <mark class="bold">Price: </mark>{{ shippingOption.price | currency }}
        </p>
        <p>
          <mark class="bold">Minimum delivery time: </mark
          >{{ shippingOption.minDays }} days
        </p>
        <p>
          <mark class="bold">Maximum delivery time: </mark
          >{{ shippingOption.maxDays }} days
        </p>
      </div>
    </div>
  </div>
  <!-- shipping option card ends -->
  <!-- details starts -->
  <div class="cart-page-details">
    <h3>Summary:</h3>
    <p>
      number of <mark class="bold">unique items:</mark>
      {{ cartProducts.length }}
    </p>
    <p>
      number of <mark class="bold">total items:</mark>
      {{ calculateAllCartItemsAmount() }}
    </p>
    <p>
      total <mark class="bold">price</mark> of items
      <mark class="bold">(no shipping):</mark>
      {{ calculateAllCartItemsPrice() | currency }}
    </p>
    <p>
      total <mark class="bold">price</mark> of items
      <mark class="bold">(with shipping):</mark>
      {{ calculateTotalPriceWithShipping() | currency }}
    </p>
  </div>
  <!-- details ends -->
</div>
