.shipping-option-card {
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: 1s background-color;
}

.shipping-option-card img {
  padding: 5px;
  width: 100px;
  cursor: pointer;
  transition: 0.25s;
}
.shipping-option-card img:hover {
  transition: 0.25s;
  transform: scale(1.25);
}

.cart-page-wrapper {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto); /* CHANGE LATER */
  grid-template-areas:
    "main"
    "options"
    "details";
}
.cart-page-main {
  grid-area: main;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-page-options {
  padding: 10px;
  grid-area: options;
  border: 1px solid grey;
}
.cart-page-details {
  grid-area: details;
  border: 1px solid grey;
}

@media screen and (min-width: 700px) {
  .cart-page-wrapper {
    /* border: 1px solid red; */
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-areas:
      "main options"
      "main details";
  }
}
