.wishlist-page-wrapper {
  /* border: 1px solid red; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wish-card {
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  padding: 5px;
  margin: 10px;
}
.upper {
  padding: 10px;
  /* border: 1px solid red; */
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper > * {
  /* border: 1px solid brown; */
  display: block;
}

.lower {
  /* border: 1px solid blue; */
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.5s;
}

mat-icon:hover {
  transition: 0.5s;
  color: red;
}

.wishlist-page-image {
  width: 150px;
}
