<div class="login-page-form-wrapper">
  <form [formGroup]="loginForm">
    <div class="loginFormGroup" formGroupName="loginFormGroup">
      <button type="button" [disabled]="loginForm.invalid" (click)="onLogin()">
        Login
      </button>
      <input type="text" formControlName="name" placeholder="username" />
      <input
        type="password"
        formControlName="password"
        placeholder="password"
      />
      <button
        type="button"
        [disabled]="loginForm.invalid"
        (click)="onRegister()"
      >
        Register
      </button>
    </div>
  </form>
</div>
