.manage-products-page-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
}
.manage-products-page-upload-products {
  border: 1px solid gray;
  padding: 20px;
}
.uploadProducts > * {
  display: block;
}
