<div
  class="animated-card-wrapper"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <!-- FRONT starts -->
  <div
    class="front lovelyShadow"
    [style.transform]="mouseInside ? 'rotate(360deg) scale(0)' : null"
  >
    <div class="front-title">{{ product.name }}</div>
    <div class="front-image">
      <img [src]="constructImagePath(product.mainIMGurl)" />
    </div>
    <div class="front-price">
      {{ product.price | currency }}
    </div>
  </div>
  <!-- FRONT ends -->
  <!-- BACK starts -->
  <div
    class="back lovelyShadow"
    [style.transform]="mouseInside ? 'scale(1)' : null"
  >
    <div class="back-description">{{ product.description }}</div>
    <div class="back-actions">
      <mat-icon (click)="onToolClick('cart')">add_shopping_cart</mat-icon>
      <mat-icon (click)="onToolClick('info')">info</mat-icon>
      <mat-icon
        (click)="onToolClick('wish')"
        [style.color]="wished ? 'red' : null"
        >{{ wished ? "favorite" : "favorite_border" }}</mat-icon
      >
    </div>
  </div>
  <!-- BACK ends -->
</div>
